<div class="container">

<div name="about" id="about" class="page">
 <h2 class="title">ABOUT</h2>

  <div id="about-logos">
  	<%=image_tag("logo.png", alt: "New Delhi Government Logo", id:"delhi-logo", class:"logo")%>
        <%=image_tag("stanford-logo.png", alt: "Stanford University Logo", id:"stanford-logo", class:"logo")%> </div>

  <p class="about-description">

  This Manifesto Tracker was built together by the Aam Aadmi Party, Delhi Government and Stanford University.  </p>

  <p class="about-description"> Roshan Shankar &mdash; Michelle Guo &mdash; Saravanan Ganesh &mdash; Cathy Zhu &mdash; Grace Wu &mdash; Kyle Quian &mdash; Catherine Xu </p>

 </div>

 </div>