<div id="landing" class="page">
  <h1 class="logo">MANIFESTO TRACKER</h1>
  <a id="enter-button" href="<%= projects_path %>">ENTER</a>
</div>
<div id="about" class="page">
  <h2 class="title">About</h2>
  <image></image>
  <image></image>
  <p>This Manifesto Tracker is a project of the Aam Aadmi Party-led Government of Delhi. It was built to keep track of the promises made by the government in their election manifesto. The manifesto tracker will be used by the government to inform the citizens of work in progress and get feedback on finished projects. This will truly democratize the political system, make government accountable to its people and make politics mean more than just elections. This is a next generation tool to ensure political accountability in Delhi.</p>
  
</div>
<div id="team" class="page">
  <h2 class="title">MEET THE TEAM</h2>
</div>