<h1>Manifesto Tracker</h1>
<!-- Progress meters -->
<div class="row">
  <div class="span5" id="header-meter">
    <!-- In progress -->
    <h4> <i class=" icon-cogs"></i> Over all promises in progress: 20 out 70</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 30%;">
        15%
      </div>
    </div>
    <!-- Achieved -->
    <h4> <i class=" icon-ok"></i> Over all promises achieved: 10 out 70</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 15%;">
        15%
      </div>
    </div>
  </div>
</div>

<table class="table">
  <tr>
    <td>S No</tb>
    <td>Title</tb>
    <td>Description</tb>
    <td>Status</tb>
  </tr>
<% @projects.each do |p| %>
  <%= link_to() do %>
    <tr>
      <td><%= p.sno %></tb>
      <td><%= p.title %></tb>
      <td><%= p.description %></tb>
      <td>Not Started</td>
    </tr>
  <% end %>
<% end %>
</table>
