<h1><%= @project.title %></h1>
<h4>Status: <%= @project.status %></h4>
<p><%= @project.description %></p>

<h4>Updates</h4>
TODO: integrate updates

<h4>Comments</h4>
TODO: integrate comments via discuz
