.page {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  letter-spacing: 6.12px;
}


#landing {

    width: 100%;
    text-align: center;
    background: image-url("women_voting.png");
    background-size: cover;
    background-attachment: fixed;
}

#landing-content {

  position: relative;
  top: 70px;
  padding: 100px 0;
}

#landing-content .heading p {

    font-size: 32px;
    display: inline-block;
    padding: 5px 30px;
    margin: 10px 0;
    border-bottom: 3px solid white;
    text-align: center;
}

#landing-content > .chart,
#landing-content .text {

    margin-top: 100px;
}

#landing-content .chart  p {

    margin: 35px 10px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

#landing-content .text {

  text-align: left;
  text-transform: uppercase;
}

#landing-content .text {

  font-size: 20px;
  color: white;
}

#landing-content .text {

    display: block;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

#landing-content .text .number {

    text-align: right;
    padding-right: 30px;
}

#landing-content .text .status {

    text-align: left;
    padding-left: 30px;
}


#landing-content .text .number,
#landing-content .text .status {

    margin: 10px 0;
}

.links {

  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#enter-button {

  position: relative;
  /* top: 20px; */
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  /* width: 215px; */
  /* height: 60px; */
  padding: 10px 25px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 15px;

  &:hover,
  &:focus {
    text-decoration: none;
}
}

/*About*/
#about {
  position: relative;
  top: 8em;
}

.logo {
  display: inline-block;
}

#about-logos {
  position: relative;
  top: 150px;
  text-align: center;
}

#delhi-logo {
  width: 291px;
  height: 100px;
  margin-right: 3em;
}

#stanford-logo {
  width: 157px;
  height: 152px;
  position: relative;
  margin-left: 3em;
}

.about-description {
  width: 54em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 12em;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 1.7em;
  text-align: center;
}

/*Team*/
#team-container {
  position: relative;
  top: 6em;
  text-align: center;
}

.team-member{
  position: relative;
  top: 7em;
  height: 200px;
}

.team-member img {
  border-radius: 70px;
}

.picture {
  width: 120px;
  height: 120px;
}

.name {
  position: relative;
  top: 1.5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 3.14px;
}

#contact {
  padding-top: 100px;
}

.footer ul {
    list-style: none;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 15px;
}

.footer li {
    display: inline-block;
    margin: 0 20px;
}