.page {
  width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  letter-spacing: 6.12px;
}

/*Landing page*/
#landing {
  width: 100%;
  text-align: center;
  background: image-url("aap.jpg");
  background-size: cover;
}


#landing-content {
  position: relative;
  top: 40%;
}

#landing-title {
  margin-top: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 55px;
  letter-spacing: 9.62px;
  text-align: center;
}

#enter-button {
  position: relative;
  top: 20px;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  width: 215px;
  height: 60px;
  padding: 5px 25px;
  text-align: center;

  font-size: 35px;
  letter-spacing: 6.12px;
}

/*About*/
#about {
  position: relative;
  top: 8em;
}

.logo {
  display: inline-block;
}

#about-logos {
  position: relative;
  top: 8em;
  text-align: center;
}

#delhi-logo {
  width: 291px;
  height: 100px;
  margin-right: 3em;
}

#stanford-logo {
  width: 157px;
  height: 152px;
  position: relative;
  margin-left: 3em;
}

.about-description {
  width: 54em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 12em;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 1.7em;
  text-align: center;
}

/*Team*/
#team-container {
  position: relative;
  top: 6em;
  text-align: center;
}

.team-member{
  position: relative;
  top: 7em;
  margin-left: 4em;
  margin-right: 4em;
  display: inline-block;
}

.picture {
  width: 162px;
  height: 162px;
}

.name {
  position: relative;
  top: 1.5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: 3.14px;
}