
#landing {
  background-image: image-url("aap.jpg")
}

h1 {
  text-align: center;
}

.logo {
  padding-top: 200px;
  color: white;
}

#enter-button {
  color: white;
  border: 2px solid white;
  padding: 5px;
  text-align: center;
}

.page {
  width: 100%;
  height: 600px;
}