// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aapt-page {

  margin-top: 100px;
}

.project-title {

  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid #777;
}

.project-title .status {

  position: absolute;
  top: 0;
  line-height: 30px;
  right: 0;
  font-size: 30px;
}

.project-info {

  margin-bottom: 50px;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
}

.project-updates-heading {

  margin-bottom: 50px;
  font-size: 18px;
  background: #F9F9F9;
  padding: 20px;
}

.project-updates-heading h4 {

    width: 50%;
    margin: 0;
    display: inline-block;
    line-height: 32px;

}

.project-updates-heading .updates-sort {

  float: right;
  padding: 5px 15px;
  border-radius: 5px;
}

.project-updates-heading .updates-sort.red {
  background: #E06171;
  color: white;
}

.project-updates-heading .updates-sort.yellow {
  background: #E8D806;
  color: white;
}

.project-updates-heading .updates-sort.green {
  background: #4DD5B7;
  color: white;
}

.project-updates-heading .updates-sort.blue {
  background: #68A6EE;
  color: white;
}

.project-updates-heading .updates-sort .fa {

  margin: 0 10px;
  color: #428bca;
}

.project-updates-heading .updates-sort input {

  margin-right: 15px;
}

.project-updates {

  position: relative;
}

.project-update {

  margin: 10px 0 10px 60px;
  padding: 10px 0;
  font-size: 20px;
  line-height: 40px;
}

.project-update.new {

  display: block;
  margin-bottom: 30px;
}

.project-update .updated-at,
.project-update .edit {

  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}

.project-timeline::before {

  content: "";
  width: 2px;
  height: calc(100% + 100px);
  position: absolute;
  background: #F9F9F9;
  left: 10px;
  top: -50px;
}


.page-full {
  position: relative;
  top: 60px;
}

#progress-meters {
  position: relative;
  top: 1.5em;
  margin-bottom: 1em;
}

.project-progress {
  overflow: hidden;
  height: 35px;
  margin: 50px 0 30px 0;
  background-color: #D8D8D8;
  border-radius: 4px;
}



.project-progress-bar {
  color:white;
  font-size: 15px;
  letter-spacing: 1px;
  float: left;
  height: 100%;
  line-height: 35px;
  overflow: visible;
  position: relative;
}

.project-progress-link {

  position: absolute;
  height: 100%;
  width: 100%;
}

.project-progress-bar span {
  display: block;
  white-space: nowrap;
  padding-left: 10px;
}

.banner {
  height: 300px;
  background: image-url("men_voting.png");
  background-size: cover;
  background-position: 0px -175px;
  background-attachment: fixed;
  color: white;
}

.title {
  position: relative;
  top: 120px;
}

.byline {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Lato-Light';
  position: relative;
  top: 1em;
}

.project-status {

  line-height: 48px;
}

.project-status-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  line-height: 48px;
  /* margin: 21px; */
  vertical-align: middle;
}

.project-row,
.project-search-row,
.project-search-empty-row {
  margin: 10px auto !important;
  width: 80%;
  padding: 10px 5px;
  margin: 10px 0;
}

.project-update.notice {

  background: antiquewhite;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  left: -20px;
  top: -10px;
}

.project-search-row .project-message {

  margin: 10px 0;
}

.project-row:hover {

    background: #eee;
    border-radius: 5px;
}

.project-text {
  font-size: 15px;
  padding: 5px 0;
  line-height: 30px;
}

.project-name {
  display: block;
  font-size: 24px;
  /* padding: 10px 0; */
  /* border: 1px solid blue; */
  line-height: 48px;
  /* margin: 10px 0; */
}

#project-container {
  padding-top: 20px;
}
.project-status {
  text-align: right;
}

.project-search {

  margin: 20px auto;
  width: 80%;
  position: relative;
}

.project-update .fa-proof {

  margin-right: 5px;
  vertical-align: middle;
}


.project-search .project-search-input {

  padding: 30px 35px;
  font-size: 20px;
}

.project-search .btn-search {

  font-size: 20px;
  padding: 10px 20px;
}

.project-search-empty {

  font-size: 18px;
  margin: 30px 20px;
}

.red {
  color: #E06171;
}

.yellow {
  color: #E8D806;
}

.green {
  color: #4DD5B7;
}

.blue {
  color: #68A6EE;
}

.background-red {
  background-color: #E06171;
}

.background-yellow {
  background-color: #E8D806;
}

.background-green {
  background-color: #4DD5B7;
}

.background-blue {
  background-color: #67AFAD;
}


.project-charts figure {

  text-align: center;
  margin: 50px 0;
}

.project-charts .line-legend {

  margin-top: 40px;
  list-style: none;
}

.project-categories {

  display: flex;
  justify-content: center;
  /* max-width: 100%; */
  flex-wrap: wrap;
}

.project-category {

  display: inline-block;
  margin: 10px 15px;
  /* min-width: 152px; */
  font-size: 18px;
}

.project-progress-legend {

  margin: 30px 0 50px 0;
  display: flex;
  justify-content: center;
}

.project-progress-bar.project-progress-legend-item {

  width: 200px;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 5px;
  text-align: center;
}