// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aapt-page {

  margin-top: 100px;
}

.project-title {

  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid #777;
}

.project-title .status {

  position: absolute;
  top: 0;
  line-height: 30px;
  right: 0;
  font-size: 30px;
}

.project-info {

  margin-bottom: 20px;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;

  // padding-bottom: 20px;
}

.project-responses {

  margin: 50px 0;
}

.page-full {
  position: relative;
  top: 60px;
}

#search-bar {
  margin: 20px 0;
}

.search-bar {
  width: 70%;
  position: relative;
  left:15%;
}
#progress-meters {
  position: relative;
  top: 1.5em;
  margin-bottom: 1em;
}

.project-progress {
  overflow: hidden;
  height: 35px;
  margin: 15px 0;
  background-color: #D8D8D8;
  border-radius: 4px;
}

.project-progress-bar {
  color:white;
  font-size: 15px;
  letter-spacing: 1px;
  float: left;
  height: 100%;
  line-height: 35px;
  overflow: visible;
}

.project-progress-bar span {
  display: block;
  white-space: nowrap;
  padding-left: 10px;
}

.banner {
  height: 300px;
  background: image-url("men_voting.png");
  background-size: cover;
  background-position: 0px -175px;
  background-attachment: fixed;
  color: white;
}

.title {
  position: relative;
  top: 120px;
}

.byline {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Lato-Light';
  position: relative;
  top: 1em;
}


.project-status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  margin: 10px;
}

.project-row {
  padding: 10px 5px;
}

#project-container {
  padding-top: 20px;
}
.status-cell {
  min-width: 60px;
}

.red {
  color: #E06171;
}

.yellow {
  color: #E8D806;
}

.green {
  color: #4DD5B7;
}

.blue {
  color: #68A6EE;
}

.background-red {
  background-color: #E06171;
}

.background-yellow {
  background-color: #E8D806;
}

.background-green {
  background-color: #4DD5B7;
}

.background-blue {
  background-color: #67AFAD;
}

