// Place all the styles related to the update controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_update {

	width: 100%;
	font-size: 18px;
}

form.new_update .form-group,
form.new_update button[type=submit],
form.new_update a.btn,
form.new_update .recaptcha {

	width: 500px;
	margin: 30px 0;
	float: left;
	margin: 30px 35px 0 35px;
}

form.new_update button[type=submit],
form.new_update a.btn, {

	width: auto;
	font-size: 18px;
	padding: 10px 25px;
	float: left;
	margin: 40px 30px 0 0;
}

form.new_update input[type=radio] {

	margin: -1px 40px 0 10px;
}

form.new_update .form-group.buttons {

	clear: both;
}

form.new_update .form-group label {

	margin: 20px 0;
}

form.new_update .form-group label.date-label {

	margin-right: 30px;
}

form.new_update .form-control {

	font-size: 18px;
	padding: 25px;
	margin: 10px 0;
}

form.new_update select.form-control {

	width: 360px;
	display: inline-block;
	margin-left: 20px;
}

.updates-title {

  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid #777;
}


.updates-table {

	font-size: 18px;
	text-align: left;
}

.updates-table .buttons .fa {

	background: #ececec;
	border-radius: 10px;
	padding: 10px 25px;
	margin: 0;
	cursor: pointer;
}

.updates-table .buttons .fa-thumbs-o-down {

	&:hover,
	&.done {

		color: white;
		background-color: #F7464A;
	}

	&.done:hover {

		color: black;
	}
}

.updates-table .buttons .fa-thumbs-o-up {

	&:hover,
	&.done {

		color: white;
		background-color: #46BFBD;
	}

	&.done:hover {

		color: black;
	}
}

.updates-table .row {

    margin: 40px 0;
    line-height: 40px;
}

.updates-table form {

	display: inline-block;
}

.updates-table form button {

    background: none;
    padding: 0;
    margin: 0 5px;
    border: none;
    display: inline-block;
}